.header {
  margin-bottom: 10px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 16px;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.link + .link {
  border-left: 1px solid
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.navMobile {
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.active {
  position: relative;
  color: darkgreen;
  font-weight: 600;
}

.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 75%;
  height: 2px;
  background-color: darkgreen;
  border-radius: 2px;
}
