.wrapper {
  position: relative;
  padding-top: 120px;
  padding-bottom: 130px;
  background-image: url(https://images.unsplash.com/photo-1732175678215-613bb7f32ee0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;

  @media (max-width: mantine-breakpoint-xs) {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: center;
  font-family: Outfit, var(--mantine-font-family);

  @media (max-width: mantine-breakpoint-xs) {
    font-size: 28px;
    text-align: left;
  }
}

.description {
  color: var(--mantine-color-gray-0);
  text-align: center;

  @media (max-width: mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-md);
    text-align: left;
  }
}
